/* src/styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  /* height: 100%; */
  zoom: .7;
  background: black;
  /* margin-top: 20vh; */
}

/* *{
font-size: 10px;
} */
/* .bg{
  background-image: url('../public//images/bg.jpg')!important;
} */
.wallet_icon {
  margin-top: 25px;
  height: 150px;
  width: auto;
}

.drop {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}